
:root {

/* LIGHT THEME */

/* ======= BRAND ======= */

--semantic-brand: var(--color-primary-800);
--semantic-brand-hover: var(--color-primary-950);
--semantic-brand-soft: var(--color-primary-200);
--semantic-brand-soft-hover: var(--color-primary-350);

/* ======= BACKGROUND ======= */

--semantic-backgroud: var(--color-white);
--semantic-surface: var(--color-gray-200);
--semantic-surface-muted: var(--color-gray-400);
--semantic-inverse-background: var(--color-black)

/* ======= TEXT ======= */

--semantic-text-primary: var(--color-gray-900);
--semantic-text-secondary: var(--color-gray-700);
--semantic-text-muted: var(--color-gray-500);
--semantic-text-inverse: var(--color-gray-50);

/* ======= BORDER ======= */

--semantic-border: var(--color-gray-400);
--semantic-border-strong: var(--color-gray-700);

/* ======= FOCUS ======= */

--semantic-focus-ring: var(--color-primary-700);
--semantic-focus-border: var(--color-primary-500);

/* ======= STATE ======= */

--semantic-success: var(--color-primary-950);
--semantic-warning: var(--color-tertiary-950);
--semantic-error: var(--secondary-950);

/* ======= TYPOGRAPHY ======= */

--semantic-font-size-display: var(--fx-xxl); 
--semantic-font-size-h1: var(--fs-lg); 
--semantic-font-size-h2: var(--fs-md); 
--semantic-font-size-h3: var(--fs-sm); 
--semantic-font-size-body: var(--fs-xs); 
--semantic-font-size-medium: var(--fs-xxs); 
--semantic-font-size-small: var(--fs-xxxs); 
--semantic-font-size-caption: var(--fs-xxxxs); 

/* ======= FONT WEIGHT ======= */

--semantic-font-weight-heading: var(--font-weight-bold);
--semantic-font-weight-body: var(--font-weight-regular);
--semantic-font-weight-label: var(--font-weight-regular);

/* ======= DARK THEME ======= */


}